[Unit]
Description=AlcoSoft Dashboard (Gunicorn)
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/alcosoft
Environment="PATH=/home/ubuntu/alcosoft/alco_env/bin"
Environment="PYTHONPATH=/home/ubuntu/alcosoft"
ExecStart=/home/ubuntu/alcosoft/alco_env/bin/gunicorn --workers 3 --bind 127.0.0.1:5000 dashboard.app:app
Restart=always

[Install]
WantedBy=multi-user.target
